Package: com.samuel.astercc
Name: AsterCC
Version: 0.2.0
Architecture: iphoneos-arm64
Description: Independent editable Control Center configuration manager for rootless iOS 16.
Maintainer: Samuel
Author: Samuel
Section: Tweaks
Depends: mobilesubstrate
