Package: com.samuel.revocc
Name: RevoCC
Version: 0.1.2
Architecture: iphoneos-arm64
Description: RevoCC Control Center editor
Maintainer: Samuel
Author: Samuel
Section: Tweaks
Depends: mobilesubstrate
