Package: com.samuel.revocc
Name: RevoCC
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Stable Control Center editor for jailbroken iOS 16.
Maintainer: Samuel
Author: Samuel
Section: Tweaks
Depends: mobilesubstrate
